body {
    background-color: orangered;
}
#poop { 
           color:white;
         }
#poop2 {
    color:whitesmoke;

}
.redColor {
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
h1 {
    color: darkslategray;
  
}

